.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1.25rem;
  background-color: white;
  padding: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: min(15vw, 7rem);
  & > img {
    height: min(4.3rem, 10vw);
  }
}
.text_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;

  height: 100%;
  & > p {
    background: linear-gradient(#d56d4d, #c44c4f);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
    font-size: min(3rem, 7vw);
    -webkit-text-fill-color: transparent;
  }
}
