.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: center;
  background-image: url('/src/shared/images/landscape.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 2rem;
}

.line {
  width: 60%;
  height: 0.2rem;
}

.arrow {
  position: absolute;
  bottom: 1rem;
}

@media (max-width: 1439px) {
  .logo {
    width: 90%;
  }
  .line {
    width: 80%;
  }
}
