@import '/src/shared/styles/vars.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  background: $color_white;
  padding: 4rem 2rem;
  width: 100%;
  max-width: 144rem;
  height: -moz-fit-content;
  height: fit-content;
}
