@import '@/shared/styles/style.scss';
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: min(3vw, 4rem);
}
.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: min(2.3vw, 2.3rem);
  background-color: white;
  padding: 2rem;
  width: -moz-fit-content;
  width: fit-content;

  height: -moz-fit-content;
  height: fit-content;

  & > h6 {
    @include text-gradient(#2ea1e1, #2038a6);
    font-size: min(4vw, 5rem);
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  & > img {
    width: min(29rem, 29vw);
  }
}

@media (max-width: 768px) {
  .text_container {
    padding: 1rem;
  }
}
