.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  border-radius: 1.25rem;
  background: linear-gradient(#d56d4d, #c44c4f);
  padding: 2rem;
  width: fit-content;
  height: fit-content;
  color: white;
}

.image {
  width: 3.5rem;
  height: 5rem;
  size: 100%;
}
.text {
  font-size: 3.5rem;
}
