.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 6rem;
  background-color: white;
  width: 50rem;
  height: 33rem;
  color: #2038a6;
  & > h6 {
    font-size: 4rem;
  }
  & > span {
    font-size: 10rem;
  }
}
