@import '@/shared/styles/style.scss';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: min(6vw, 6rem);
  background-color: white;
  padding: min(4vw, 4rem);
  width: -moz-fit-content;
  width: fit-content;

  height: -moz-fit-content;
  height: fit-content;

  color: #2038a6;
}

#text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include text-gradient(#2ea1e1, #2038a6);

  & > h6 {
    font-size: min(3vw, 4rem);
    line-height: 110%;
  }
  & > span {
    font-weight: 600;
    font-size: min(5vw, 7rem);
  }
}

@media (max-width: 1023px) {
  .container {
    flex-direction: row;
    border-radius: min(4vw, 4rem);
    width: 90%;
  }
  #text_container {
    & > h6 {
      font-size: min(5vw, 5rem);
    }
    & > span {
      font-size: min(7vw, 8rem);
    }
  }
}
