.container {
  border-radius: 4rem;
  background: linear-gradient(#d56d4d, #c44c4f);
  padding: 2rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  -moz-transition: all 0.2s ease-in;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in;
  /* Opera */
  -o-transition: all 0.2s ease-in;
  /* Standard */
  transition: all 0.2s ease-in;
  border-radius: 2rem;
  background: url('/src/shared/images/bgdot.svg');
  background-size: 2rem;
  background-repeat: repeat;
  padding: 1rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  background: linear-gradient(#d56d4d, #c44c4f);
  padding: 2rem;
  width: 30%;
  min-width: -moz-fit-content;
  min-width: fit-content;

  height: -moz-fit-content;
  height: fit-content;
  color: white;
  font-weight: 600;
  font-size: 3.5rem;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(2vw, 2rem);
  width: 100%;
  max-width: 134rem;
  height: 100%;
  min-height: 28rem;
}

.hidden {
  padding: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

@media (max-width: 550px) {
  .heading {
    padding: 1rem;
    width: 100%;
    font-size: 3rem;
  }
}
